/* body */

body {
    font-family: 'Poppins', sans-serif;
    color: #3b4d61;
    letter-spacing: 1px;
}


/* partie header.php */

.entete {
    position: relative;
    height: 250px;
    background-image: url("../pics/genf.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bouton {
    position: relative;
    height: 20px;
    width: 20px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bouton .trait {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3b4d61;
}

.bouton .trait:first-child {
    transform: translateY(-5px);
}

.bouton .trait:last-child {
    transform: translateY(5px);
}

.navbar-nav>.nav-link {
    position: relative;
    text-decoration: none;
    color: #3b4d61;
    margin-right: 15px;
}

.navbar .nav-link::before {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    width: 0%;
    background-color: #efd10f;
}

.navbar .nav-link:hover::before {
    width: 100%;
    transition: all 0.4s ease-in-out;
}


/* fin header.php */


/* section coordonner home.php*/


/* lien coordonnee */

address .lien {
    text-decoration: none;
    margin-top: 5px;
    color: #3b4d61;
    cursor: pointer;
}

address .lien:hover {
    color: #6b7b8c;
}

.bi:hover {
    color: #6b7b8c;
}

.pdf {
    position: relative;
    border: solid 1px #3b4d61;
    border-radius: 5px;
    box-shadow: -5px 5px 0px #6b7b8c;
    padding: 10px;
    background-color: transparent;
}

.pdf:hover {
    box-shadow: none;
    border: solid 1px #6b7b8c;
}

.pdf-link {
    text-decoration: none;
    color: #3b4d61;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
}

.pdf-link:hover {
    color: #6b7b8c;
    z-index: 99;
}

.pdf::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 0;
    background-color: #efd10f;
    border-radius: 5px;
    bottom: 0;
    left: 0;
}

.pdf:hover::before {
    width: 100%;
    transition: all 0.4s ease-in-out;
}