/* body */

body {
    font-family: 'Poppins', sans-serif;
    color: #3b4d61;
    letter-spacing: 1px;
}

.ombre {
    box-shadow: 10px 10px 20px #6b7b8c;
}


/* partie header.php */

.entete {
    position: relative;
    height: 250px;
    background-image: url("../pics/genf.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bouton {
    position: relative;
    height: 20px;
    width: 20px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bouton .trait {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3b4d61;
}

.bouton .trait:first-child {
    transform: translateY(-5px);
}

.bouton .trait:last-child {
    transform: translateY(5px);
}

.navbar-nav>.nav-link {
    position: relative;
    text-decoration: none;
    color: #3b4d61;
    margin-right: 15px;
}

.navbar .nav-link::before {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    width: 0%;
    background-color: #efd10f;
}

.navbar .nav-link:hover::before {
    width: 100%;
    transition: all 0.4s ease-in-out;
}


/* fin header.php */


/* section coordonner home.php*/


/* lien coordonnee */

address .lien {
    text-decoration: none;
    margin-top: 5px;
    color: #3b4d61;
    cursor: pointer;
}

address .lien:hover {
    color: #6b7b8c;
}

.bi:hover {
    color: #6b7b8c;
}

.pdf {
    position: relative;
    border: solid 1px #3b4d61;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #6b7b8c;
    padding: 10px;
    background-color: transparent;
}

.pdf:hover {
    box-shadow: none;
    border: solid 1px #6b7b8c;
}

.pdf-link {
    text-decoration: none;
    color: #3b4d61;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
}

.pdf-link:hover {
    color: #6b7b8c;
    z-index: 99;
}

.pdf::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 0;
    background-color: #efd10f;
    border-radius: 5px;
    bottom: 0;
    left: 0;
}

.pdf:hover::before {
    width: 100%;
    transition: all 0.4s ease-in-out;
}


/* expériences */

.container-timeline {
    position: relative;
    padding: 10px 10px 10px 50px;
    /* padding left fort pour de la place pour la timeline*/
    max-width: 500px;
    margin: 20px;
}


/* ligne */

.container-timeline::before {
    position: absolute;
    content: '';
    width: 5px;
    background-color: #f5f5f5;
    top: 0;
    bottom: 0;
    left: 15px;
}

.exp {
    background-color: #f5f5f5;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
}


/* triangle */

.exp::before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right-color: #f5f5f5;
    border-left: 0;
    top: 35%;
    left: -10px;
}


/* cercle sur la timeline */

.exp::after {
    content: "";
    background: #efd10f;
    border: 3px solid #f5f5f5;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: -40px;
    box-shadow: #6b7b8c 10px 10px 20px;
}

p.date {
    color: #efd10f;
    font-size: 15px;
    font-weight: bold;
}

p.poste {
    color: #3b4d61;
    font-size: 15px;
    font-style: italic;
}